layout node

watch_file .env
if [ -f .env ]; then
  set -o allexport
  source .env
  set +o allexport
fi

use_nvm() {
  local NVM_PATH="$HOME/.nvm/nvm.sh"
  if ! [ -f "$NVM_PATH" ]; then
    echo "Installing NVM" >&2
    curl -o- https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
  fi
  . "${NVM_PATH}"
  nvm install
  layout node
}
watch_file .nvmrc
if [ -f .nvmrc ]; then
  use_nvm
fi
